{% extends 'BaseBack.html.twig' %}

{% block title %}Dossier Construction{% endblock %}
{% block rechercher %}

{% endblock %}
{% block body %}
    <br>
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up">
        <h1 align="center">Dossier Construction </h1>


        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Listes des dossiers</strong></h5>

                        <div class="card-tools">
                            <div class="btn-group">
                                <input id="myInput" class="form-control form-control-navbar" type="search" placeholder="Rechercher" aria-label="rech">

                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                            
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-12">

                                <table id="t" border="2" class="table table-striped">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th>Id</th>
                                        <th>Date De Creation</th>
                                        <th>Terrain</th>
                                        <th>User</th>
                                        <th>Matiere premaire</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    {% for dossier_const in dossier_consts %}
                                        <tr >
                                            <td>{{ dossier_const.id }}</td>
                                            <td>{{ dossier_const.dureeLocationDossierConst ? dossier_const.dureeLocationDossierConst|date('Y-m-d') : '' }}</td>
                                            <td>{{ dossier_const.idTerrainConst }}</td>
                                            <td>{{ dossier_const.userId }}</td>
                                            <td>{{ dossier_const.idMatiereConst.typeMatiereConst }}</td>
                                            <td><button class="btn">
                                                    <a  href="{{ path('app_dossier_const_showAdmin', {'id': dossier_const.id}) }}"><ion-icon name="reorder-four"></ion-icon>
                                                    </a>
                                                </button><button class="btn">
                                                    <a class="bi bi-tools" href="{{ path('app_dossier_const_editAdmin', {'id': dossier_const.id}) }}"><ion-icon name="construct-outline"></ion-icon></a>
                                                </button>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <a href="{{ path('app_dossier_const_newAdmin') }}"class="btn-about">Ajouter Dossier</a>
                                <br>
                                <br>
                                <a href="{{ path('app_dossier_const_indexAdminPDF') }}"class="btn-about"><ion-icon name="cloud-download-outline"></ion-icon></a>


                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>




        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Notre But</strong></h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="progress-group">
                                    Nombres total des dossier
                                    <span class="float-right"><b>             {{dossier_consts|length}}                     </b>/50</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" style="width:{{ (dossier_consts|length)*2 }}%"></div>
                                    </div>
                                </div>
                                {% set classique= 0 %}
                                {% set conteneur= 0 %}
                                {% set prefabrique= 0 %}
                                {% for i in dossier_consts %}
                                {% if 'Classique(ciment et brique)' in i.idMatiereConst.typeMatiereConst %}
                                {% set classique =classique+1 %}
                                {% endif %}

                                {% if 'préfabriqué' in i.idMatiereConst.typeMatiereConst %}
                                {% set prefabrique =prefabrique+1 %}
                                {% endif %}

                                    {% if 'conteneur' in i.idMatiereConst.typeMatiereConst %}
                                        {% set conteneur =conteneur+1 %}
                                    {% endif %}


                                {% endfor %}




                                <div class="progress-group">
                                    Nombre de dossier avec matiere premiere "Classique"
                                    <span class="float-right"><b>             {{classique}}                     </b>/20</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning" style="width:{{ classique*5 }}%"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    Nombre de dossier avec matiere premiere "préfabriqué"
                                    <span class="float-right"><b>             {{prefabrique}}                     </b>/20</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success" style="width:{{ prefabrique*5 }}%"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    Nombre de dossier avec matiere premiere "conteneur"
                                    <span class="float-right"><b>             {{conteneur}}                     </b>/20</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" style="width:{{ conteneur*5 }}%"></div>
                                    </div>
                                </div>






                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Suivi</strong></h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-12">
                                <canvas id="myChart"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels:[
            {% for dossier_const in dossier_consts %}
                     '{{ dossier_const.userId }}',
            {% endfor %}
                    ],
                    datasets: [{
                        label: 'Le Mois de creation de Dossier/User',
                        data: [
                        {% for dossier_const in dossier_consts %}
                        {{ dossier_const.dureeLocationDossierConst ? dossier_const.dureeLocationDossierConst|date('m') : '' }},
                        {% endfor %}
                        ],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
