{% extends 'baseFront.html.twig' %}

{% block title %}Produits De Sécurité{% endblock %}
{% block hero %}

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({{ asset('assets/img/dispositifs-alarmes.png') }})">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Gestion De Sécurité </h2>
            <ol>
                <li><a hre="">Home</a></li>
                <li>Les Produits de Sécurité</li>
            </ol>

        </div>
    </div>

{% endblock %}
{% block body %}

    <div class="container position-relative aos-init aos-animate" data-aos="fade-up">

       <!-- <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Listes des Produits</strong></h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                            <input id="myInput" class="form-control form-control-navbar" type="search" placeholder="Rechercher" aria-label="rech">
                        </div>
                    </div>-->
                    <!-- /.card-header -->
                    <!--<div class="card-body">
                        <div class="row">-->
                            <!-- /.col -->
                          <!--  <div class="col-md-12">
                                <table id="t" border="2" class="table table-striped">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th>Id</th>
                                        <th>Marque_produit</th>
                                        <th>Prix</th>
                                        <th>Type_produit</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    {% for produit in produits %}
                                        <tr>
                                            <td>{{ produit.id }}</td>
                                            <td>{{ produit.marqueProduit }}</td>
                                            <td>{{ produit.prix }}</td>
                                            <td>{{ produit.typeProduit }}</td>
                                            <td>
                                                <a href="{{ path('app_produits_show', {'id': produit.id}) }}">show</a>
                                                <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <a href="{{ path('app_produits_new') }}">Create new</a>
                            </div></div></div></div></div>



        </div>
    </div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

                <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">Les produits que nous disposons actuellement:</li>
                </ul><!-- End Portfolio Filters -->

                {% for produit in produits %}
                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-books">
                        <img src={{ asset('uploads/images/products/'  ~ produit.imageName) }} width="40%">
                        <div class="portfolio-info">

                            <h4> <FONT face="verdana"><font color="#900C3F "><U> La marque:</U></font></FONT> {{ produit.marqueproduit   }}</h4>
                            <h4><FONT face="verdana"><font color="#900C3F "><U>Le prix(dt):</U></font></FONT> {{ produit.prix  }}</h4>
                            <h4><FONT face="verdana"><font color="#900C3F "><U>Type:</U></font></FONT> {{ produit.typeProduit  }}</h4>
                            <h4> <a href="{{ path('app_dossiers_new') }}">Commander</a></h4>

                        </div>

                    </div><!-- End Portfolio Item -->
                    {% endfor %}
                </div><!-- End Portfolio Container -->


            </div>
        </div>
    </section> <!-- End Portfolio Section -->

{% endblock %}

