{% extends 'baseBack.html.twig' %}

{% block title %}Mission de decoration{% endblock %}
{% block hero %}

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({{ asset('assets/img/services-header.jpg') }})">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Gestion de decoration</h2>
            <ol>
                <li><a href="http://127.0.0.1:8000/dossier/const/home">Home</a></li>
                <li>Gestion de decoration</li>
            </ol>

        </div>
    </div>

{% endblock %}

{% block body %}
<div class="container position-relative aos-init aos-animate" data-aos="fade-up">
    <h1 align="center"> Mission de decoration</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Listes des missions</strong></h5>

                        <div class="card-tools">
                            <div class="btn-group">
                                <input id="myInput" class="form-control form-control-navbar" type="search" placeholder="Rechercher" aria-label="rech">
                             </div>

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-12">
    <table id="t" class="table table-dark">
        <thead>
        <tr class="bg-info">
            <th>Id</th>
            <th>Intituler_mission_deco</th>
            <th>Date_debut_mission</th>
            <th>Date_fin_mission</th>
            <th>Localisation_mission</th>
            <th>id_outil_mission</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for mission_deco in mission_decos %}
            <tr>

                <td>{{ mission_deco.id }}</td>
                <td>{{ mission_deco.intitulerMissionDeco }}</td>
                <td>{{ mission_deco.dateDebutMission ? mission_deco.dateDebutMission|date('Y-m-d') : '' }}</td>
                <td>{{ mission_deco.dateFinMission ? mission_deco.dateFinMission|date('Y-m-d') : '' }}</td>
                <td>{{ mission_deco.localisationMission }}</td>
                <td>{{ mission_deco.idOutilDeco.typeOutilD }}</td>
                <td>
                    <button class="btn">
                    <a href="{{ path('app_mission_deco_showAdmin', {'id': mission_deco.id}) }}"><ion-icon name="menu-outline"></ion-icon></a>
                    </button>
                    <button class="btn">
                    <a href="{{ path('app_mission_deco_editAdmin', {'id': mission_deco.id}) }}"><i class="bi-tools"></i><ion-icon name="build-outline"></ion-icon></a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mission_deco_newAdmin') }}">Ajouter Mission</a>
                            </div></div></div></div></div></div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}